<h1>About</h1>
<span class="text">This mod is a new vision of Diablo 2. More difficult opponents: many elite and unique monsters, all the monsters are stronger and faster than their standard counterparts, immunities on act bosses, etc. Game became more interesting: new easy and effective system of craft built on the <div class="">gems</div>, jewels and disenchanting of items; pretty much changed skills of all the characters and mercenaries; partially reworked and brand new unique and sets, <div class="">runewords</div>, <div class="">gemwords</div> and much more...</span>
<hr>

