<h1>FAQ</h1>
<!--<div>
    <span></span>
    <ul>

    </ul>
</div>
<hr/><br/>-->
<div>
    <span>Is looting/hovering items bugged, if I alt click it works</span>
    <ul>
        That's /nopickup mode. You can turn it off with /nopickup in chat.
    </ul>
</div>
<hr/><br/>
<div>
    <span>This is too easy. How do you make monsters more powerful?</span>
    <ul>
        /players X, where 1 (default) <= X <= 127 <br />
        Higher the number, stronger the monsters
    </ul>
</div>
<hr/><br/>
<div>
    <span>Why do robes and cloaks in gambling screen have the [Druid Only] property?</span>
    <ul>
        Because robes and cloaks are class specific items and was hardcoded into the game as such. After buying the robe/cloak the [Druid Only] property is automatically deleted.
    </ul>
</div>
<hr/><br/>
<div>
    <span>How do I get to Catacombs Level 4?</span>
    <ul>
        Entrance to Catacombs Level 4 is now in Cold Plains (replaces the cave)
    </ul>
</div>
<hr/><br/>

<div>
    <span>How do I get to Claw Viper Level 2?</span>
    <ul>
        Entrance to Claw Viper Level 2 is now the northern sewer exit in town (replaces north Sewers level 1)
    </ul>
</div>
<hr/><br/>

<div>
    <span>How do I get to Maggot Lair Level 3?</span>
    <ul>
        Entrance to Maggot Lair Level 3 is now the southern sewer exit in town (replaces south Sewers level 1)
    </ul>
</div>
<hr/><br/>

<div>
    <span>How do I get to Durance of Hate Level 3?</span>
    <ul>
        Entrance to Durance of Hate Level 3 is now in the Spider Forest, next to the waypoint.
    </ul>
</div>
<hr/><br/>

<div>
    <span>How do I get to Throne of Destruction?</span>
    <ul>
        Entrance to Throne of Destruction is now in the Glacial Trail.
    </ul>
</div>
<hr/><br/>
<div>
    <span>How do I get to the Secret Cow Level?</span>
    <ul>
        Kill Baal on that difficulty, go to Tristram, find Wirt's Leg, go to the Rogue Camp, transmute only Wirt's Leg in
        cube<
    </ul>
</div>
<hr/><br/>
<div>
    <span>Why do Dark Diablo's have full immunities?</span>
    <ul>
        Read <a (click)="redirectFaq('map')">Changelog</a>.<br/>Because you have come to them on NORMAL or NIGHTMARE. On Hell use Conviction 22+ or Lower Resist curse to pierce elemental immunities
    </ul>
</div>
<hr/><br/>
<div>
    <span>How do you get jewels?</span>
    <ul>
        Read <a (click)="redirectFaq('cube')">Changelog</a><br/>Disenchant (DESTROYS) of magical or better item - Any Perfect Gem x2 + item + White Potion x3 = Jewels
    </ul>
</div>
<hr/><br/>
<div>
    <span>Why does the multiplayer version not have multipage stash?</span>
    <ul>
        Because plugy corrupts your save files if you are not playing single player. I'm sure you don't want to lose your lvl 111 hero.
    </ul>
</div>
<hr/><br/>
<span>More questions may be added here</span>

